// Variables
@import "variables";

// Vuetify
@import "../../../node_modules/vuetify/src/stylus/main";


// Things for this app...

.fade-out {
background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1) 70%, rgba(0,0,0,0));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
